.site-footer {
    padding: 30px 80px 50px 80px;
    background-color: #363636;
}

.site-footer .container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.site-footer .container .col{
    flex: 0 0 25%;
    text-align:center;
}

.site-footer .brandname {
    font-size: 25px;
    font-style: italic;
    text-align: center;
    color: #ffffff;
}

.site-footer .subtitle {
    font-size: 15px;
    text-align: center;
    color: #ffffff;
}

.site-footer .space img {
    justify-content: center;
    width:8rem;
}

